body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

section {
  max-width:34em;
  margin:auto;
  padding:0 1em;
}

/* Color from U.S. Web Design Standards */
a:link {
  color: #0071bc;
}

/* Color from U.S. Web Design Standards */
a:visited {
  color: #4c2c92;
}

@media screen and (max-width: 25em) {
  body { font-size: 90%;}
}

